
.container-fluid {
  margin-top: 5%;
  background: #B7DEED;
  background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.col-4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  gap: 20%;

}

h3{
   background: #B7DEED;
background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h5 {
      color: #555;
}